# Required libraries for Traffic Sign Recognition Project
keras==3.8.0
matplotlib==3.10.0
seaborn==0.13.2
scikit-learn==1.6.1
pillow==11.2.1          # PIL image handling
opencv-python==4.11.0   # OpenCV for image processing
pandas==2.2.2
numpy==1.26.4          # Numerical operations